################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/Debug
/Release
/x64
/nemalloc/Debug
/nemalloc/Release
/nemalloc/x64
*.vcxproj.user